@charset "utf-8";
/* CSS Document */

body	{ color:#e1e1e1; background-image:url(gfx/background.jpg); background-color:#1e1e1e;}

#border_top	{background-image:url(gfx/border_top.gif);}
#header_contacts	{ color:#d9d9d9;}

#container	{background:#454545; }

#navigation li a	{color: #FFF;}
#navigation .main_category {background-image: url(gfx/navigation_hover.gif); }
#navigation .active	{ background-image: url(gfx/navigation_active.gif);}
#navigation li.current-menu-item, #navigation li.current_page_ancestor, #navigation li.current-post-parent, #navigation li.current-menu-parent { background-image: url(gfx/navigation_active.gif); }

#navigation ul li ul li a	{ color:#FFF;}
#navigation li a.odd	{ background-image:url(gfx/navigation_dot.gif); background-color:#2b2b2b;}
#navigation li a.even	{ background-image:url(gfx/navigation_dot.gif); background-color:#222; }
#navigation li a.odd:hover, #navigation li a.even:hover	{ background-image:url(gfx/navigation_dot.gif); background-color:#444;}

#search input.field {background-image:url(gfx/search_icon.png); background-color:#1f1f1f; color: #FFF;}
#search input.field:focus {background-image:url(gfx/search_icon.png); background-color:#2b2b2b;}
#search input.submit {background-color:#e42b23; color:#FFF;}

#featured_home .slider_shadow .post_category, #featured_home .bigimg .post_category {background-image:url(gfx/transparent_black_80.png); color:#e42b23; }
#featured_home .slider_shadow .post_category a, #featured_home .bigimg .post_category a	{color:#e42b23;}

#featured_home .slider_shadow .post_name a, #featured_home .bigimg .post_name a	{background-image:url(gfx/transparent_black_80.png); color:#FFF;}
#featured_home .slider_shadow .post_name a:hover, #featured_home .bigimg .post_name a:hover	{color:#e42b23;}
#featured_home .slider .minus, .plus	{ background-color:#222;}

#message_buttons .button1 a	{background-image:url(gfx/people_icon.jpg); background-color:#222; color:#FFF; }
#message_buttons .button2 a	{background-image:url(gfx/camera_icon.png); background-color:#222; color:#FFF; }
#message_buttons .button2 a:hover	{ background-image:url(gfx/camera_icon.png); background-color:#e42b23;}

#inner_content .entry	{background:#222;}

#inner_content .entry .title_holder	{color:#999; }

#inner_content .entry .title_holder	h3 a	{color:#999; }

#inner_content .entry a.title 	{color:#FFF;}
#inner_content .entry a.title:hover	{ background:#e42b23; color:#FFF;}

#inner_content .entry a.comment_counter  { background-image: url(gfx/comment_counter.gif); color:#FFF; }
#inner_content .entry a.comment_counter:hover	{color:#e42b23;}

#inner_content .date	{background-image: url(gfx/transparent_black_80.png);}

#sidebar_home h3.widget_title	{color:#FFF; background-color:#e42b23;}
#sidebar_home h3.widget_title a	{color:#FFF;}

#sidebar_home .widget	{background:#222;}

#sidebar_home ul	{color:#666;}
#sidebar_home ul a	{color:#FFF;}
#sidebar_home ul a:hover	{ background:#e42b23; color:#FFF;}

#wp-calendar a	{color:#e42b23;}
#wp-calendar tr { background: #222;  }
#wp-calendar tr:hover	{background:#303030;}
#wp-calendar th { background-color: #e42b23; border-color: #333; color: #FFF; }
#wp-calendar td { border-color: #333;}

.widget_content div a	{color:#e42b23;}
.widget_content div a:hover	{color:#FFF; background:#e42b23;}
							
#footer	{background-image:url(gfx/footer_top.jpg); background-color:#2c2c2c;}
#footer #footer_left	{color:#808080;}
#footer_bottom	{background-image: url(gfx/footer_bottom_border.gif);}

input.alert, textarea.alert {background: #333; border:1px solid #e42b23; color:#FFF;}
input, textarea {background: #333; border:1px solid #444; color:#FFF;}
input:focus, textarea:focus	{background:#3b3b3b;}
#cf_send, #fc_submit	{background:#e42b23; color:#FFF;}

#inner_content .entry .entry_content h1 {color:#FFF;}
#inner_content .entry .entry_content h1 a:hover	{background:#e42b23; color:#FFF;}
#inner_content .entry .entry_content h2 {color:#FFF;}
#inner_content .entry .entry_content h2 a:hover	{background:#e42b23; color:#FFF;}
#inner_content .entry .entry_content h3 {color:#FFF;}
#inner_content .entry .entry_content h3 a:hover	{background:#e42b23; color:#FFF;}
#inner_content .entry .entry_content h4 {color:#FFF;}
#inner_content .entry .entry_content h4 a:hover	{background:#e42b23; color:#FFF;}

#inner_content .entry .entry_content a	{color:#e42b23;}
#inner_content .entry .entry_content a:hover	{color:#e42b23;}

#inner_content .entry .entry_content acronym { border-bottom-color:#CCC; }
#inner_content .entry .entry_content code { border: 1px solid #444; background: #333; color:#CCC; }
#inner_content .entry .entry_content blockquote {border: 1px solid #444; background: #333; color:#CCC;}

#inner_content .entry .entry_content tr { background: #333 }
#inner_content .entry .entry_content tr:hover	{background:#444;}
#inner_content .entry .entry_content th { background-color: #e42b23; border-color: #444; color: #FFF; }
#inner_content .entry .entry_content td { border-color: #444; }	

#inner_content .entry .entry_content .more-link	{color:#FFF;}

#gallery .gallery_thumb:hover	{ background:#e42b23; }
#gallery_fullwidth .gallery_thumb:hover	{ background:#e42b23; }

#sidebar_home ul.tweets li	{ background:#323232; color:#FFF;}
#sidebar_home ul.tweets li:after	{border-color:#323232 transparent transparent; }
#sidebar_home ul.tweets li a	{color:#e42b23;}
#sidebar_home ul.tweets li a:hover	{background:#e42b23; color:#FFF;}
#sidebar_home ul.tweets li a.timesince	{ color:#999;}
#sidebar_home ul.tweets li a.timesince:hover	{color:#FFF;}

#sidebar_home ul#rp_posts_popular li a:hover	{ color:#e42b23;}
#sidebar_home ul#rp_posts_popular .rp_thumb:hover	{background:#e42b23;}
#sidebar_home ul#rp_posts_popular .rp_date	{color:#999;}

.comments a	{color:#e42b23;}
.comments h3#comments { color:#999;}
.comments #respond h3 { color:#666;}
.comments ol.commentlist li { border:1px solid #333;}
.comments ol.commentlist li div.vcard cite.fn {color: #e42b23;}
.comments ol.commentlist li div.vcard cite.fn a.url:hover { color:#FFF;  }
.comments ol.commentlist li div.comment-meta a {color:#777; }
.comments ol.commentlist li div.comment-meta a:hover { color:#FFF; }
.comments ol.commentlist li div.reply a:hover { background:#e42b23; color:#FFF; }
.comments ol.commentlist li div.reply a { background:#444; color:#e42b23;}
.comments ol.commentlist li.even { background:#222; }
.comments ol.commentlist li.odd { background:#292929; }

#respond h3	{color:#666; }
.comments form input {border:1px solid #333; background:#222; color:#FFF; }
.comments form input:focus	{background:#272727;}
.comments form textarea	{ border:1px solid #333; background:#222;}
.comments form textarea:focus	{background:#272727;}
.comments form #submit	{background:#e42b23; color:#FFF; }

.wp-pagenavi { background:#2c2c2c; }
.wp-pagenavi a, .wp-pagenavi .current {	background:#454545;	color:#CCC;	}
.wp-pagenavi a:hover, .wp-pagenavi .current { color: #FFF; background-color: #e42b23;}
.wp-pagenavi .pages { color:#e42b23;}